#movieCovers {
  width: 6em;
  height: auto;
}

.movieList {
 list-style: none;
}

.movieResult {
  float:left;
  clear:both;
  margin-top: 2em;
}

.details {
  float: left;
  clear:both;
}

.pagerDiv {
  float: left;
  clear:both;
}
