.movieListItemWrapper {
  height: 650px;
  margin-bottom: 1em;
}

.thumbnail {
  height: 100%;
}

#movieCovers {
  width: 15.125em;
  height: auto;
}

.movieList {
 list-style: none;
}

.details {
}

.caption .btn {
  position: absolute;
  bottom: 2em;
}

.pagerDiv {
  float: left;
  clear:both;
}
