<div ng-controller="ListController">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">Imdb Top 250</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model='searchText'>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
             <a href="#/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#/">Title A-Z</a></li>
              <li><a href="#/">Title Z-A</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#/">Rank</a></li>
            </ul>
          </li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="row">
    <div  ng-repeat="movie in movies | filter:searchText | orderBy: 'rank'"  class="col-sm-6 col-md-4">
      <div class="movieListItemWrapper">
        <div class="thumbnail">
          <a href="#/details/{{movie.rank}}">
            <img id="movieCovers" src="/data/images/{{movie.imdbID}}.jpg" alt="{{movie.title}}" /></li>
          </a>
          <div class="caption">
            <h3 ng-show="movie.title" class="ng-hide movieList">{{movie.title}}</h3>
            <li ng-show="movie.rated" class="ng-hide movieList">rated: {{movie.rated}}</li>
            <li ng-show="movie.runtime" class="ng-hide movieList">runtime: {{movie.runtime}}</li>
            <li ng-show="movie.genre" class="ng-hide movieList">genre: {{movie.genre}}</li>
            <li ng-show="movie.language" class="ng-hide movieList">language: {{movie.language}}</li>
            <li ng-show="movie.metascore" class="ng-hide movieList">metascore:{{movie.metascore}}</li>
            <li ng-show="movie.rank" class="ng-hide movieList">rank:{{movie.rank}}</li>
            <li class="movieList">imdbID={{movie.imdbID}}</li>
            <p><a href="#/details/{{movie.rank}}" class="btn btn-primary" role="button">Select</a></p>
          </div>
        </div>
    </div>
    </div>
  </div>

</div>
